@using BlogSite.EntityLayer.Concrete;
@model AppUser

<a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
    <div class="nav-profile-img">
        <img src="~/@Model.Image" height="60px" width="60px" alt="image">
        <span class="availability-status online"></span>
    </div>
    <div class="nav-profile-text">
        <span class="font-weight-bold mb-2">@Model.NameSurname</span>
    </div>
</a>