<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/admin/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="~/admin/#">
                        <span class="block m-t-xs font-bold">David Williams</span>
                        <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="~/admin/profile.html">Profile</a></li>
                        <li><a class="dropdown-item" href="~/admin/contacts.html">Contacts</a></li>
                        <li><a class="dropdown-item" href="~/admin/mailbox.html">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="~/admin/login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="active">
                <a asp-action="Index" asp-controller="Dashboard" asp-area="admin"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Category" asp-area="admin"><i class="fa fa-list"></i> <span class="nav-label">Categories</span></a>
            </li>
            <li>
                <a asp-action="Add" asp-controller="Category" asp-area="admin"><i class="fa  fa-plus-circle"></i> <span class="nav-label">Add Category</span></a>
            </li>
            <li>
                <a asp-action="ExportBlogList" asp-controller="Blog" asp-area="admin"><i class="fa   fa-file-excel-o"></i> <span class="nav-label">Get Blogs Excel File</span></a>
            </li>
        </ul>

    </div>
</nav>
