@using BlogSite.EntityLayer.Concrete;
@model Blog
<div class="comment-top">
	<h4>Leave a Comment</h4>
	<div class="comment-bottom">
		<form asp-action="PartialViewAddComment" asp-controller="Comment" method="post">
			<input hidden value="@Model?.Id" name="BlogId"/>
			<input class="form-control" type="text" name="UserName" placeholder="UserName" required="">
			<input class="form-control" type="text" name="Title" placeholder="Title" required="">
			<textarea class="form-control" name="Content" placeholder="Content...." required=""></textarea>
			<button type="submit" class="btn btn-primary submit">Submit</button>
		</form>
	</div>
</div>