@using BlogSite.EntityLayer.Concrete;
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model AppRole
<div class="container">
    <h2>Edit Role</h2>
    <form id="message-form" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <label for="Name">Name:</label>
            <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Sender ID">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

