@{
    ViewData["Title"] = "Error1";
    Layout = "/Views/Shared/_UserLayout.cshtml";
}

<div class="d-flex align-items-center justify-content-center vh-100 bg-primary" style="padding:8rem 0; background-image:url('https://png.pngtree.com/background/20210712/original/pngtree-error-page-not-found-404-background-picture-image_1177786.jpg');background-repeat:no-repeat;background-size:cover; width:100%;height:100%;background-position:center;">
    <h1 class="display-1 fw-bold text-white" style="  background: rgba(0,0,0,0.7);">404 Page Not Found</h1>
</div>

