<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Writer" asp-action="Edit">
                <span class="menu-title">My Profile</span>
                <i class="mdi mdi-face-profile menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-route-email="@User.Identity.Name" asp-action="BlogListByWriter" asp-controller="Blog">
                <span class="menu-title">Blogs</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Blog" asp-action="Add">
                <span class="menu-title">New Blog</span>
                <i class="mdi mdi-new-box menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Message">
                <span class="menu-title">Messages</span>
                <i class="mdi mdi-message-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Blog">
                <span class="menu-title">Go to Site</span>
                <i class="mdi mdi-arrow-all menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="LogOut" asp-controller="Login">
                <span class="menu-title">Log out</span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>
        </li>
     
    </ul>
</nav>