@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using BlogSite.EntityLayer.Concrete;
@model List<Category>

<table class="table ">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Status</td>
        <td>
            Details
        </td>
        <td>
            Delete
        </td>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Status</td>
            <td>
                <button type="button" class="btn btn-primary">Details</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    }
</table>
