<!--
*
*  INSPINIA - Responsive Admin Theme
*  version 2.8
*
-->

<!DOCTYPE html>
<html>

 @await Html.PartialAsync("/Views/Shared/AdminLayoutPartial/PartialHead.cshtml")

@await RenderSectionAsync("css", required: false)
<body>
    <div id="wrapper">

        @await Html.PartialAsync("/Views/Shared/AdminLayoutPartial/PartialSideBar.cshtml")

        <div id="page-wrapper" class="gray-bg dashbard-1">

            @await Html.PartialAsync("/Views/Shared/AdminLayoutPartial/PartialHeader.cshtml")

            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
            </div>

            @await Html.PartialAsync("/Views/Shared/AdminLayoutPartial/PartialFooter.cshtml")

        </div>

        @await Html.PartialAsync("/Views/Shared/AdminLayoutPartial/PartialRightSidebar.cshtml")

    </div>

    @await Html.PartialAsync("/Views/Shared/AdminLayoutPartial/PartialJs.cshtml")

    @await RenderSectionAsync("scripts", required: false)

</body>
</html>

