@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">

@await Html.PartialAsync("UILayoutPartial/PartialHead.cshtml")

<body>

    <!--Header-->
    @await Html.PartialAsync("UILayoutPartial/PartialHeader.cshtml")
    <!--//header-->

    <!--/main-->
       @RenderBody()
    <!--//main-->

    <!--footer-->
    @await Html.PartialAsync("UILayoutPartial/PartialFooter.cshtml")
    <!--footer-->

    <!-- js -->
    @await Html.PartialAsync("UILayoutPartial/PartialJs.cshtml")
    <!-- js -->

</body>

</html>