@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    @await RenderSectionAsync("css",false)
@await Html.PartialAsync("/Views/Shared/WriterLayoutPartial/PartialHead.cshtml")
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @await Html.PartialAsync("/Views/Shared/WriterLayoutPartial/PartialHeader.cshtml")

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            @await Html.PartialAsync("/Views/Shared/WriterLayoutPartial/PartialSidebar.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper start -->
                @RenderBody()
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                @await Html.PartialAsync("/Views/Shared/WriterLayoutPartial/PartialFooter.cshtml")

                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    @await Html.PartialAsync("/Views/Shared/WriterLayoutPartial/PartialJs.cshtml")

    <!-- End custom js for this page -->
    @await RenderSectionAsync("scripts",false)

</body>
</html>
