@using BlogSite.EntityLayer.Concrete;
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model Writer


<section class="main-content-w3layouts-agileits">
	<div class="container">
		<h3 class="tittle">Register Now</h3>
		<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">
				<form method="post" id="form-id">
					<div asp-validation-summary="All" class="text-danger"></div>
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label for="validationCustom01">Name</label>
							<input type="text" class="form-control" id="validationDefault01" asp-for="Name" placeholder="" required="">
							<span style="color:red;font-size:small;" asp-validation-for="Name"></span>
						</div>
						
						<div class="col-md-6 mb-3">
							<label for="validationCustom02">Email </label>
							<input type="email" asp-for="Mail" class="form-control" id="validationDefault02" placeholder="" required="">
							<span style="color:red;font-size:small;" asp-validation-for="Mail"></span>

						</div>
					</div>
				<div class="form-row">
						<div class="col-md-12 mb-3">
							<label for="validationCustom01">Country</label>
							<select id="cars" asp-for="CountryId" class="form-control">
								@foreach (var country in ViewBag.Countries)
								{
									<option value="@country.Id">@country.Name</option>
								}
							</select>
							<span style="color:red;font-size:small;" asp-validation-for="Name"></span>
						</div>
				</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="exampleInputPassword1 mb-2">Password</label>
							<input type="password" asp-for="Password" class="form-control" id="password1" placeholder="" required="">
							<span style="color:red;font-size:small;" asp-validation-for="Password"></span>

						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputPassword2 mb-2">Confirm Password</label>
							<input type="password" class="form-control" id="password2" placeholder="" required="">
							
						</div>
						<span id="validatePass" style="color:red;margin: auto;padding: 1rem;"></span>
					</div>
					<button type="button" onclick="validatePassword()" class="btn btn-primary submit mb-4">Register</button>
					<p>
						<a onclick="SweetMessage()" style="border-radius:2rem;padding:1rem; color:blueviolet; cursor:pointer;">By clicking Signup, I agree to your terms</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	var form = document.getElementById("form-id");
	var pass1 = document.getElementById("password1");
	var pass2 = document.getElementById("password2");
	var validatePass = document.getElementById("validatePass");

	function validatePassword() {
		if (pass1.value !== pass2.value) {
			validatePass.innerHTML = "Confirm password does not match with password";
		} else {
			form.submit();
		}
	}

 	function SweetMessage(){
		Swal.fire("By clicking Signup, I agree to your terms", 'we send last news and features to your email addres.')
	}
</script>

